.deposit-list {
  min-width: 100%;
  padding: 20px;
  background-color: #FFFFFF; /* Светлый фон */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Мягкая тень */
  box-sizing: border-box;
  max-width: 900px;
  font-family: 'Inter', sans-serif;
  color: #4B0082; /* Основной цвет текста */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.deposit-list-title {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #32CD32; /* Зеленый */
}

.error-message {
  color: #ff6c78; /* Красноватый оттенок для ошибок */
}

.deposit-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.categories-section {
  background-color: #E5E6FA; /* Светлый фиолетовый */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Мягкая тень */
}

.results-section {}

.no-deposits {
  display: flex;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #000; /* Зеленый */
  border-radius: 5px;
  margin-top: 10px;
}

.deposit-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  background-color: #fdf663; 
}

.deposit-row {
  display: table-row;
}

.deposit-row > div {
  display: table-cell;
  text-align: left;
  padding: 10px;
  font-size: 16px;
}

.deposit-header {
  display: table-row;
  font-weight: bold;
  background-color: #32CD32; /* Зеленый для заголовков таблицы */
  color: #FFFFFF; /* Белый текст */
}

.button-container {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.delete-button {
  padding: 8px 12px;
  background-color: #cd3232; /* Новый зеленый цвет для кнопки */
  color: #FFFFFF;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #f44655; /* Более тёмный зеленый оттенок при наведении */
}

.delete-button:active {
  background-color: #d52d3b; /* Ещё темнее при нажатии */
}

.edit-button {
  background-color: #32CD32; /* Зеленый цвет */
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #2E8B57; /* Более тёмный зеленый оттенок при наведении */
}

.footer-caption {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #4B0082; /* Основной цвет текста */
}

@media (max-width: 480px) {
  .edit-button {
    width: 100%;
  }
}
