.add-deposit {
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  background-color: #9470DC; /* Серединный светлый фиолетовый фон для блока */
  border-radius: 10px;
  color: #ffffff; /* Светлый цвет текста для контраста */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-deposit-title {
  font-family: 'Segoe UI', sans-serif;
  font-size: 24px;
  color: #ffffff; /* Светлый цвет для заголовка */
  text-align: center;
  margin-bottom: 20px;
}

.add-deposit-error {
  color: #FF69B3; /* Розовый цвет для ошибок */
  font-size: 14px;
  text-align: center;
}

.add-deposit-success {
  color: #4CAF50; /* Зеленый цвет для успешных сообщений */
  font-size: 14px;
  text-align: center;
}

.add-deposit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-deposit-label {
  display: flex;
  flex-direction: column;
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  color: #ffffff; /* Светлый цвет текста для меток */
}

.add-deposit-input,
.add-deposit-select {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc; /* Светлый серый цвет для границ */
  border-radius: 5px;
  background-color: #FFFFFF; /* Белый цвет для полей ввода */
  color: #9470DC; /* Темный цвет текста для контраста с фоном */
}

.add-deposit-input:focus,
.add-deposit-select:focus {
  outline: none;
  border-color: #9470DC; /* Более светлый оттенок основного цвета */
  box-shadow: 0 0 4px #9470DC;
}

.add-deposit-button {
  margin-top: 20px;
  padding: 15px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #4B0081; /* Светло-синий цвет */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-deposit-button:hover {
  background-color: #59148a; /* Более темный оттенок синего */
}
