.add-deposit {
  padding: 20px;
  width: 50%;
  margin: 0px auto;
  background-color: #ffffff; /* Зеленый цвет для блока */
  border-radius: 10px;
  color: #000000; /* Черный цвет для текста */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-deposit-title {
  font-family: 'Segoe UI', sans-serif;
  font-size: 24px;
  color: #000000; /* Светлый цвет для заголовка */
  text-align: center;
  margin-bottom: 20px;
}

.add-deposit-error {
  color: #ff6c78; /* Розовый цвет для ошибок */
  font-size: 14px;
  text-align: center;
}

.add-deposit-success {
  color: #6ddf70; /* Зеленый цвет для успешных сообщений */
  font-size: 14px;
  text-align: center;
}

.add-deposit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-deposit-label {
  display: flex;
  flex-direction: column;
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  color: #000000; /* Светлый цвет текста для меток */
}

.add-deposit-input,
.add-deposit-select {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc; /* Светлый серый цвет для границ */
  border-radius: 5px;
  background-color: #FFFFFF; /* Белый цвет для полей ввода */
  color: #32CD32; /* Темный цвет текста для контраста с фоном */
}

.add-deposit-input:focus,
.add-deposit-select:focus {
  outline: none;
  border-color: #32CD32; /* Более светлый оттенок основного цвета */
  box-shadow: 0 0 4px #32CD32;
}

.add-deposit-button {
  margin-top: 20px;
  padding: 15px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #32CD32; /* Зеленый цвет для кнопки */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-deposit-button:hover {
  background-color: #2E8B57; /* Более темный зеленый оттенок при наведении */
}
