.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1E1E1E; /* Темный фон */
  padding: 20px;
  border-bottom: 2px solid #424242; /* Линия снизу */
}

.header-tab {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.header-quit-button {
  background-color: #64B5F6; /* Синий фон */
  color: #121212; /* Темный текст */
  font-size: 14px;
}

.header-title {
  font-size: 24px;
  margin: 10px 0 0 0;
}

.header-subtitle {
  font-size: 16px;
  color: #BDBDBD; /* Светло-серый */
}
