.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E6FA; /* Светлый фон */
  padding: 20px 40px;
  border-bottom: 2px solid #9470DC; /* Линия снизу в акцентном цвете */
}

.header-tab {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.header-quit-button {
  border: 1px solid #4B0082;
  background-color: #FED700; /* Яркий фон кнопки */
  color: #4B0082; /* Цвет текста */
  font-size: 14px;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-quit-button:hover {
  background-color: #FF69B3; /* Цвет кнопки при наведении */
  color: #FFFFFF; /* Белый текст при наведении */
}

.header-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 24px;
  margin: 10px 0 0 0;
  color: #4B0082; /* Основной цвет текста */
}

.header-subtitle {
  font-size: 16px;
  color: #9470DC; /* Акцентный цвет подзаголовка */
}
