#root {
  min-height: 100%; 
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  color: #4B0082; /* Основной цвет текста */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #4B0082; /* Основной цвет текста */
  background-color: #c2a5fc;
}

h1, h2, h3 {
  color: #9470DC; /* Акцентный цвет для заголовков */
}

button {
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #FED700; /* Основной цвет кнопки */
  color: #4B0082; /* Цвет текста на кнопке */
}
