.deposits {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin: 0 auto;
  border-radius: 10px;
  color: #000000; /* Темный фиолетовый для текста */
}

.deposits-message {
  padding: 20px;
  text-align: center;
}

.deposits-message h1 {
  font-size: 28px;
  color: #000000; /* Основной темный цвет */
}

.deposits-message p {
  font-size: 16px;
  color: #000000; /* Основной темный цвет */
}

.deposits-tab {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 20px;
  padding: 10px 15px;
  background-color: #ffffff; /* Светлый фиолетовый фон */
  border-radius: 5px;
}

.deposits-tab a {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #32CD32; /* Зеленый цвет для кнопки */
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.deposits-tab a:hover {
  background-color: #FDF663; 
}

.deposits-tab a.active {
  background-color: #FDF663; 
}
