.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E6FA; /* Светлый фон */
  padding: 10px 0;
  border-top: 2px solid #9470DC; /* Верхняя граница в акцентном цвете */
}

.footer-caption {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #4B0082; /* Основной цвет текста */
}