:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #4B0082;
  background-color: #E5E6FA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #9470DC;
  text-decoration: inherit;
}
a:hover {
  color: #4B0082;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #E5E6FA;
}

/* Добавление акцента */
button, input, select {
  font-family: inherit;
  font-size: 1rem;
  color: #4B0082;
  background-color: #FED700;
  border: 2px solid #9470DC;
  border-radius: 4px;
  padding: 0.5em 1em;
}
button:hover, input:hover, select:hover {
  background-color: #FF69B3;
  color: #FFFFFF;
  border-color: #4B0082;
}